<div class="body">

<div class="container">
  <div class="heading">
    <!-- <img src="../../assets/image/slog.png" alt="IMG" class="logo-size"> -->
    <h3>Tell us what you need done</h3>
    <p>Contact skilled freelancers within minutes. View profiles, ratings, portfolios and chat with them. Pay the freelancer
      only when you are 100% satisfied with their work.</p>
  </div>
</div>

<mat-horizontal-stepper class="stepper" #stepper>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose a name for your project</ng-template>
      <mat-form-field class="field">
        <input  matInput placeholder="e.g. Build me a website" value={{projectName}} formControlName="firstCtrl" required>
       
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Tell me more about your project</ng-template>
      <mat-form-field  class="text-area">
        <textarea matInput  class="field" rows="5" cols="50"  value={{projectDetail}}  placeholder="In detail" formControlName="secondCtrl" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>How You want to pay</ng-template>
      <mat-form-field class="field">
        <input matInput  placeholder="By hour/Fixed price" value={{paymentMode}} formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Project Size</ng-template>
      <mat-form-field class="field">
        <input matInput  placeholder="₹/$ Small(500-1000)" id="projectSize" value={{projectSize}} formControlName="fourthCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>What skills are required ?</ng-template>
      <mat-form-field class="field">
        <input matInput  placeholder="Web development, Android, Java" id="skills" value={{skills}} formControlName="fifthCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
  <span style="color: blue;padding-top:1% ">Post My Project</span>  
    <div style="padding-top: 3%">      
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="submit()">Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
    <p style="color: blue; padding-top: 2%;padding-bottom: 3%"><span style="color:rgb(47, 255, 57)">✔</span> By clicking <span style="color:rgb(47, 255, 57)">Submit</span>, you agree to the Terms & Conditions and Privacy Policy
        Copyright © 2018 Slog.com</p>
  </mat-step>
  
</mat-horizontal-stepper>
</div>