
footer{
    /* margin-bottom:0px !important; */
    padding-bottom: 0%;
    margin-bottom: 0%;
    background-color:white;
    color:#0b0513;
  }
  
  .footer-copyright{
      background-color:#040408; 
      color: white;
  }
  
  
  .col-md-2 a:hover{
    text-decoration: none
  }
.col-md-3{
  text-align: justify
}

 /* .bottom{
  bottom: 0px;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
 } */