<!-- Footer -->
<footer class="page-footer font-small indigo mt-4">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <!-- for spacing -->
    </div>

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
    <div class="row text-center" style="margin-top:20px;">
      <div class="col-md-4" style="padding-right:60px;">
        <i class="fas fa-map-marker-alt fa-2x white"></i>
        <h4>Location</h4>
        <p>3rd Floor,
          <br> Block 38, Lovely Professional Univerity,
          <br> Phagwara</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-phone fa-2x white"></i>
        <h4>Phone</h4>
        <p>+91 7004318086</p>


      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope fa-2x white"></i>
        <h4>Email</h4>
        <p>ashish@lpuguide.com</p>

      </div>
    </div>
    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
      <div class="col-md-12">

        <div class="d-flex justify-content-center colorSocial">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/">

            <i class="fab fa-facebook fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="#">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="#">
            <i class="fab fa-google-plus fa-lg white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="#">
            <i class="fab fa-linkedin fa-lg white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="#">
            <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="#">
            <i class="fab fa-pinterest fa-lg white-text"> </i>
          </a>

        </div>

      </div>

    </div>

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Slog Ⓡ Ashish

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->