 <!-- Navbar -->
 <nav  *ngIf="nav.visible" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/home" href="" >
      <img src="../../../assets/image/slog.png" width='50px' height="30px">
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"routerLink="/home" href="">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/howItWorks" href="">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/browseJobs" href="">Browse Jobs</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a class="nav-link" routerLink="/login" href="">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a class="nav-link" routerLink="/signup" href=""><i class="fa fa-sign-in"></i> Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" href="" routerLink="/login"  (click)="logoutSubmit()">Logout</a>
        </li>
        <li class="nav-item postProject">
          <a class="nav-link border border-light rounded"  routerLink="/postProject" href="">
            <i class="fa fa-tasks"></i> Post a Project
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
