.view,body,html{height:100%}.navbar{background-color:rgba(7, 7, 7, 0.53)}.page-footer,.top-nav-collapse{background-color:#1C2331}
@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }

}

.postProject{
    background-color: rgb(255, 145, 0)
}
