<form (submit)="update()">


    <div class="row form-row">
        <div class="picture col-md-8" style="padding-right:10%">
            <mat-card >
                Profile Image
            </mat-card>
        </div>
        <div class="col-md-1">
            <mat-form-field >
                <input matInput placeholder="Name" value="{{profile.name}}">
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Username" value="{{profile.username}}" disabled>
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Email" value="{{profile.email}}" disabled>
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Phone" value="{{profile.phone}}">
            </mat-form-field>
        </div>
    </div>
    <div style=" text-align: -webkit-center">
        <button mat-raised-button color="primary" type="submit">Update</button>
    </div>
</form>
