.container{
    padding-top: 7%;
    background-color: aliceblue;
    
}
.example-form {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    
  }
  .width-form{
    min-width:100px;
    max-width: 100px;
  }