<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ animationType: ANIMATION_TYPES.cubeGrid,
      backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '20px',
      primaryColour: '#FF5733', secondaryColour: '#FF5733', tertiaryColour: '#FF5733' }"></ngx-loading>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card>
        <div class="row">
          <div class="col-md-1">
            <mat-icon>search</mat-icon>
          </div>
          <div class="col-md-2 ">
            <mat-form-field class="width-form">
              <input matInput placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-9">
      <mat-card>
        <div class="row">
          <div class="col-md-1">
            <mat-icon>add_location</mat-icon>
          </div>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Location" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="row" style="padding-top:5px">
    <!-- left side -->
    <div class="col-md-3">
      <mat-card>
        <h5>Filter By</h5>
        <mat-form-field class="width-form">
          <input matInput placeholder="abc">
        </mat-form-field>
        <h5>Type</h5>
        <mat-form-field class="width-form">
          <input matInput placeholder="abc">
        </mat-form-field>
        <h5>Skills</h5>
        <mat-form-field class="width-form">
          <input matInput placeholder="abc">
        </mat-form-field>
        <h5>Language</h5>
        <mat-form-field class="width-form">
          <input matInput placeholder="abc">
        </mat-form-field>
      </mat-card>
    </div>
    <!-- right side -->
    <div class="col-md-9">
      <mat-card>
        <div class="row">
          <div class="col-md-1" style="padding-right: 30%">
            <mat-form-field>
              <mat-select placeholder="Sort By">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-8">
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
        <!-- row 1 end here -->
        <!-- data row -->
        <div class="row" *ngFor="let job of jobs" style="padding-bottom: 3%;">
          <div class="col-md-8" style="padding-right:15%;padding-top: 3%">
            <b>{{job.projectName}} </b>
            <p>{{job.projectDetail}}</p>
            <p style="color: rgba(18, 138, 250, 0.938)">{{job.skills}}</p>
          </div>
          <div class="col-md-1" style="padding-left: 15%;padding-top: 3%">
            <p>{{job.projectSize}}</p>
            <button mat-raised-button style="background-color: rgb(82, 255, 47); color: white" (click)="bid(job._id)"><b>Bid</b></button>
          </div>
          <mat-divider></mat-divider>
        </div>

        <!-- data row ends here -->
      </mat-card>
    </div>
  </div>
  <!-- right side ends here -->
</div>