.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
.padd1{
    padding-top: 15%
}
.padd3{
    padding-top: 10%;
    padding-bottom: 39%
}
.white-text{
    color: white
}
.orange-color{
    color:rgb(255, 123, 0);
}
#myVideo {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 10%;
    max-height: 10%;
}
.content {
    
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    position: absolute
}