.container{
    padding-top: 6%;
}
.example-small-box, .example-large-box {
     display: flex; 
    /* align-items: center;
     justify-content: center; */
    margin: 6px;
    /* padding: 16px; */
    border-radius: 8px; 
  }
  
  .example-large-box {
    height: auto;
    width: auto;
    min-height: 700px;
  }
  /* .width{
    min-width: 1200px;
    padding-left: -10%;
  }
   */
  