<div class="container">

  <!--Section: Main info-->
  <section class="mt-5 wow fadeIn">
    <h3 class="h3 text-center mb-5 ">How can we help?</h3>

    <div class="toggle-property text-center">
      <div class="role-switcher ">
        <input type="radio" name="user-type" id="employer-option" value="employers" class="RoleSwitcher-radio" data-target-audience
          autocomplete="off" checked (click)="hireBoolean()">
        <label for="employer-option" class="RoleSwitcher-label RoleSwitcher-label--tertiary">
          I want to hire </label>

        <input type="radio" name="user-type" id="freelancer-option" value="freelancers" class="RoleSwitcher-radio" data-target-audience
          autocomplete="off" (click)="workBoolean()">
        <label for="freelancer-option" class="RoleSwitcher-label RoleSwitcher-label--primary">
          I want to work </label>
      </div>
    </div>


    <!--Grid row-->
    <div class="row" *ngIf="employee">


      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Main heading -->
        <h3 class="h3 mb-3">What kind of work can I get done?</h3>
        <p>How does "anything you want" sound? We have experts representing every technical, professional, and creative field.</p>

        <hr>
        <button mat-raised-button style="color:rgb(255, 94, 0)" routerLink="/postProject" href="">
          <i class="fa fa-tasks"></i>
          Post a Project
        </button>
      </div>

      <div class="col-md-6 mb-4">

        <img src="../../../assets/image/howItWorks.png" class="img-fluid z-depth-1-half" alt="">

      </div>
    </div>
    <!--Grid row-->
    <div class="row " *ngIf="freelance">
        <div class="col-md-6 mb-4">

            <!-- Main heading -->
            <h3 class="h3 mb-3">What kind of work can I do?</h3>
            <p>You can find just about any job you can imagine. We have jobs ranging from delivery to website development. You can find a variety of jobs that suit you on Freelancer.com.</p>
            <p>Just complete your profile and let us know your skill sets so we can match you to the right jobs</p>
            <hr>
            <button mat-raised-button style="color:rgb(55, 0, 255)" routerLink="/browseJobs" href="">
              <i class="fa fa-search"></i>
              Browse Jobs
            </button>
          </div>
    
          <div class="col-md-6 mb-4">
    
            <img src="../../../assets/image/wantsToWork.png" class="img-fluid z-depth-1-half" alt="">
    
          </div>
    </div>

  </section>
</div>