
<app-header-home></app-header-home>
<app-body-home></app-body-home>
<!-- <a data-toggle="modal" style="cursor:pointer;color:rgb(0, 89, 255)" data-target="#myModal" (click)="popup()" > Forget Password</a>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Need Project ..!!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
           <a>Post a project</a>
        </div>

    </div>
</div> -->