<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../../assets/image/slog.png" alt="IMG">
            </div>
            <!-- <h6 class="heading" style="color:rgb(0, 38, 255)">Welcome {{email}}</h6> -->
            <br>
            <form class="login100-form validate-form" [formGroup]="myForm" (ngSubmit)="resetPassword()">
                <div class="container">
                    <mat-form-field class="form-group">
                        <input matInput placeholder="Enter your password" required formControlName="password" class="form-control"
                            [type]="hide1 ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="form-group">
                        <input matInput placeholder="Re-enter your password" required formControlName="cnfpassword"
                            class="form-control" [type]="hide2 ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Reset Now
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>